@page "/index.html"
@inherits IndexPage

<h1>Fantasy Football Matchup Analyzer</h1>

<h2>Get your Sleeper Leagues:</h2>

<form>
    <label for="userId">User ID:</label>
    <input type="text" name="userId" value="" />

    <input type="submit" name="Submit" />
</form>