@page "/index.html"
@using UserInfo;
@inherits IndexPage

@code {
    UserInfoModel userInfoModel;
}

<h1>Fantasy Football Matchup Analyzer</h1>

<h2>Get your Sleeper Leagues:</h2>

<form>
    <label for="username">Username:</label>
    <input type="text" name="username" @bind="displayName" />
    <button type="submit" @onclick="Save">OK</button>
</form>

@{
    if (userInfoModel == null || string.IsNullOrEmpty(displayName))
    {
        return;
    }

    <table>
        <thead>
            <tr>
                <th>@displayName 's Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>@userInfoModel.UserId</td>
            </tr>
        </tbody>

    </table>
}



@code {
    private static readonly HttpClient httpClient = new();
    private string displayName;

    public void OnGetUserData()
    {
        var task = httpClient.GetAsync($"https://api.sleeper.app/v1/user/{displayName}");
        HttpResponseMessage result = task.Result;

        if (result.IsSuccessStatusCode)
        {
            Task<string> readString = result.Content.ReadAsStringAsync();
            var jsonString = readString.Result;
            UserInfoModel.FromJson(jsonString);
        }
    }

    private void Save()
    {
        userInfoModel = new UserInfoModel(displayName);
    }
}