@page "/popup.html"
@inherits BasePage

<h1>FFMA</h1>
<h2>Fantasy Football Matchup Analyzer</h2>

<form>
    <label for="playerName">Player:</label>
    <input type="text" name="playerName" value="" />
    <input type="submit" name="Submit" />
</form>