@page "/roster.html/{OwnerId}"

<h3>Roster</h3>

@code {
    [Parameter]
    public string OwnerId { get; set; }

    [Parameter]
    public string[] starters { get; set; }

    [Parameter]
    public string RosterId { get; set; }

    [Parameter]
    public string[] Players { get; set; }

    [Parameter]
    public string LeagueId { get; set; }
}
